@{
    Layout = null;
}
@model Organizer.Models.Diaryes
<h1>Изменить статус ?</h1>
<br />
@using (Html.BeginForm("DiaryDone", "Home", FormMethod.Post))
{
    
    @Model.Id= 1;
<p>
    <input type="submit" value="Изменить" />
</p>
}
@Html.ActionLink("Изменить", "DiaryDone", Model, new { @class = "btn btn-primary" })
@Html.ActionLink("Главная", "Index", null, new { @class = "btn btn-primary" })